<html>
<head>
    <title>新闻人物言论自动提取系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
	<div class="contain">
        <iframe name="fly_words" src="{{ url_for('fly_words') }}?s={{ fly_str }}" style="width: 100%; height: 500px" frameborder="" scrolling="no">
    </iframe>
	</div>

    <div class="contain">
        <p class="title">新 闻 人 物 言 论 自 动 提 取 系 统</p>
    </div>

    <form action="{{ url_for('extra') }}" method="post">
    <div class="contain">
		<textarea class="textarea" placeholder="*在此输入新闻内容" name="news"></textarea>
    </div>
    <div class="contain">
        <button type="submit" formtarget="_blank">阿尔法~GO！</button>
{#        <input type="submit" value="阿尔法~GO！">#}
    </div>
    </form>

</body>
</html>